.mat-mdc-form-field {
  min-width: 350px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  width: 45px;
}

button {
  margin-top: 2rem;
}
