<a class="back-btn" routerLink="/customers"
  ><img src="assets/images/back-button.png" alt=""
/></a>

<h1 *ngIf="!isViewMode && !isEditMode">Add new customer</h1>
<h1 *ngIf="isViewMode">View customer</h1>
<h1 *ngIf="!isViewMode && isEditMode">Edit customer</h1>

<form [formGroup]="customerForm" (ngSubmit)="onSubmit()" class="global-form">
  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" [readonly]="viewOnlyMode" required />
    <mat-error *ngIf="customerForm.controls['name'].hasError('required')"
      >Name is required</mat-error
    >
    <mat-error *ngIf="customerForm.controls['name'].hasError('minlength')"
      >Minimum length is 3</mat-error
    >
    <mat-error *ngIf="customerForm.controls['name'].hasError('maxlength')"
      >Maximum length is 15</mat-error
    >
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Surname</mat-label>
    <input matInput formControlName="surname" [readonly]="viewOnlyMode" required />
    <mat-error *ngIf="customerForm.controls['surname'].hasError('required')"
      >Surname is required</mat-error
    >
    <mat-error *ngIf="customerForm.controls['surname'].hasError('minlength')"
      >Minimum length is 3</mat-error
    >
    <mat-error *ngIf="customerForm.controls['surname'].hasError('maxlength')"
      >Maximum length is 15</mat-error
    >
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" [readonly]="viewOnlyMode" required type="email" />
    <mat-error *ngIf="customerForm.controls['email'].hasError('email')"
      >Enter a valid email</mat-error
    >
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Phone Number</mat-label>
    <input matInput formControlName="phoneNumber" [readonly]="viewOnlyMode" required />
    <mat-error
      *ngIf="customerForm.controls['phoneNumber'].hasError('minlength')"
      >Minimum length is 8</mat-error
    >
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    type="submit"
    *ngIf="!viewOnlyMode"
    [disabled]="!customerForm.valid"
  >
    <!--To make the button be blue only when the form is completed add "[disabled]="!customerForm.valid" inside the button.
  I got rid of it so it can be alike the reservation form-->
    Save
  </button>
</form>
